
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    transition: margin-left .5s;
    padding: 20px;
}
  
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.log-in{
    text-align: center;
    color: white;
    font-size: 25px;
    
}
.user{
    font-size: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
    color: white;
}
.us{
    color: gray;
}
/*---Inicio---*/
.logo{
    margin-top: 5px;
    margin-right: 950px;
    position: fixed;
    left: 40px;
}
.ico{
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 15px;
}
.b{
    background-color: rgba(255, 255, 255, 0.548);
    border-color: rgba(0, 0, 0, 0.329);
    font-family: 'Times New Roman', Times, serif
}

.e{
    border-radius: 25%;
    border-color: rgb(255, 255, 255);
}

#navegacion{
    height: 70px;
    width: 100%;
    background-color:rgb(24, 24, 24);
}

.registro a{
    color: rgb(255, 255, 255);
}

.registro{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.registro a:hover{
    text-decoration: none;
    color: rgb(154, 255, 154);
}

.bg{
    background-color: rgb(24, 24, 24);
}

.lista a{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

.lista a:hover{
    text-decoration: none;
    color: rgb(154, 255, 154);
    font-family: 'Times New Roman', Times, serif;
}

.naveg{
    width: 23%;
}

/*---Registro---*/
.img{
    width: 100%;
    height: 100%;
}

.label{
    font-weight: 700;
    
    display: block;
}
.tarjeta-registro{
    margin-top: 30%;
}
input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

/*---Info---*/
.fondo{
    background-color: rgb(24, 24, 24);
}
.fondo2{
    background-color: rgb(199, 198, 198);
}
.estilo{
    font-family: 'Times New Roman', Times, serif
}
.estilo a:hover{
    text-decoration: none;
    color: rgb(154, 255, 154);
}
.estilo a{
    color:white;
}

.cabe.header{
    height: 40vh;
    width: 100%;
    min-height: 12rem;
    background-position: center center;
    background-size: cover;
}

.estilo h5{
    margin-left: 150px;
}

.estilo p{
    margin: 0%;
}

.im{
    width: 100%;
    height: 100%;
    background-position: center, center;
}

.estilo ul{
    margin-left: 130px;
}

/*---Lugares---*/
.qh{
    border-radius: 15px;
    margin-top: 1%;
    margin-left: 50%;
}
.vl{
    margin-bottom: 30px;
    border-left: 1px solid rgb(61, 37, 37);
}
.qh button{
    border-radius: 10px;
    margin-top: 3%;
}
.icono{
    color: rgb(24, 24, 24);
}
.linea{
    border-left: 2px solid rgb(243, 242, 242);
}
.espacios{
    margin-right: 15px;
}
.separador{
    border-bottom:solid 2px rgb(243, 242, 242);
    width:100%;
    height:50px;
}
.titulo{
    font-size: 20px;
    margin-top: 20px; 
    margin-right: 260px;
}
.boton{
    width: 40%;
    background-color: white;
    margin-left: 155px;
    margin-bottom: 100%;
}
.content{
    width: 70%;
    margin-top: 3%;
}
/*---index---*/
.ra{
    margin-bottom: 20px;
}
.txt{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 40px;
}
.txt2{
    margin-left: 100px;
}
.colorbtn{
    color: white;
    border-radius: 15px;
    width: 500px;
    
}
.carru{
    margin: 0 auto;
    margin-left: 400px;
}
.text-carru{
    margin-left: px;
    font-family: cursive;
}
.m-img{
    margin-left: -90px;
    height: 50%;
    width: 400px;
}
.contenedor {
    position: relative;
  }
  
.bE {
    position: absolute;
    top: 35%;
    margin-top: -25px; /* (- menos) la mitad del valor de la altura del elemento hijo */
  }

/*---Los lugares---*/

  
.medellin {
    margin-top: 190px;
    margin-right: 1000px;
}
.f{
    font-weight: bold;
    font-weight: 700;
}

.texto{
   margin: 0 auto;
   text-align: center;
}